:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009FFD;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body {
  font-family: 'Raleway', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}